<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="icon" type="image/png" href=""
	th:href="@{/images/Logo-circle.jpg}" />
<title>Appointment Schedule</title>

<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/Header-style.css}" />
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/Footer1-style.css}" />
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/Reports-style.css}" />

</head>
<body>
	<div th:include="Header :: body"></div>

	<div class="container">
		<h2>View Appointment Schedule</h2>
		<ul class="responsive-table">
			<li class="table-header">
				<div class="col col-1">Test Type</div>
				<div class="col col-2">Doctor Name</div>
				<div class="col col-3">Date</div>
			</li>

		</ul>
	</div>

	<button onclick="generateReport()">Generate Report</button>

	<script>
		function generateReport() {
			// Add your logic here to generate the report
			alert('Generating report...');
			// You can perform AJAX request or any other action to generate the report
		}
	</script>

	<div th:include="Footer1 :: body"></div>

</body>
</html>