<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/Footer-style.css}" />
</head>
<body>
	<div id="page">		
			<div id="footerblurb">
				<div id="footerblurb-inner">
				
					<div class="column">
						<h2><span>About Us</span></h2>
						<p><script></script></p>
					</div>	
					<div class="column">
						<h2><span>Email Us</span></h2>
						<p><script></script></p>
					</div>
					<div class="column">
						<h2><span>Contact Us</span></h2>
						<p><script></script></p>
					</div>	
					
					<div class="clr"></div>
				</div>
			</div>
			<footer id="footer">
				<div id="footer-inner">
					<p>&copy; Copyright 2024. All right reserved. &#124; Powered by Sasheena Raini</p>
					<div class="clr"></div>
				</div>
			</footer>
		</div>
</body>
</html>