<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/Header-style.css}" />
</head>
<body id="body1">
	<div id="page1">
		<header id="header1">
			<div id="header-inner1">
				<div id="logo1">
					<h1>
						<img th:src="@{/images/Logo.jpg}" />
					</h1>
				</div>
				<div class="clr1"></div>
			</div>
		</header>
		<div class="feature1">
			<div class="feature-inner1">
				<h1>ABC Laboratory</h1>
			</div>
		</div>
	</div>
</body>
</html>
