<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href=""
	th:href="@{/images/Logo-circle.jpg}" />
<title>Register Page</title>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/style.css}" />
</head>
<body>
	<div class="form-page">
		<div class="form-box">
			<div class="form-title">
				<h3>Register</h3>
			</div>
			<div class="form-body">
				<!-- Message Box -->
				<div th:if="${message != null}" class="message-box">
					<p style="color: red;" th:text="${message}" class="message"></p>
				</div>
				<!-- End Message Box -->
				<br />
				<form action="#" method="POST" th:object="${userModel}">
					<div class="form-group">
						<label for="full_name">Patient Full Name</label> <input
							type="text" id="full_name" name="full_name" class="input-text"
							placeholder="Full Name" th:field="${userModel.fullname}">

					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="email" id="email"
							name="email" class="input-text" placeholder="Email Address"
							th:field="${userModel.email}"> 
				
					</div>
					<div class="form-group">
						<label for="address">Address</label> <input type="text"
							id="address" name="address" class="input-text"
							placeholder="Address" th:field="${userModel.address}">
			
					</div>
					<div class="form-group">
						<label for="phone_number">Phone Number</label> <input type="text"
							id="phone_number" name="phone_number" class="input-text"
							placeholder="Phone Number" th:field="${userModel.phonenumber}">
							
					</div>
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							id="password" name="password" class="input-text"
							placeholder="Password" th:field="${userModel.password}">
						
					</div>
					<div class="form-group">
						<label for="confirm_password">Confirm Password</label> <input
							type="password" id="confirm_password" name="confirm_password"
							class="input-text" placeholder="Confirm Password" th:field="${userModel.confirmpassword}">
							
					</div>
					<div class="form-group">
						<button type="submit" class="input-btn">Register Now</button>
					</div>
					<div class="or-text">
						<span>Or</span>
					</div>
				</form>
			</div>
			<p class="form-link">
				Already have an account?<a href="/patientLogin"> Login here</a>
			</p>
		</div>
	</div>
</body>

</html>