<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register Page</title>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/style.css}" />
</head>
<body>
	<div class="form-page">
		<div class="form-box">
			<div class="form-title">
				<h3>Register</h3>
			</div>
			<div class="form-body">
				<form action="" method="POST">
					<div class="form-group">
						<label for="name">Patient Full Name</label> <input type="name"
							id="name" name="name" class="input-text" placeholder="Full Name">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="email" id="email"
							name="email" class="input-text" placeholder="Email Address">
					</div>
					<div class="form-group">
						<label for="email">Address</label> <input type="address"
							id="address" name="address" class="input-text"
							placeholder="Address">
					</div>
					<div class="form-group">
						<label for="phone">Phone Number</label> <input type="phone"
							id="phone" name="phone" class="input-text"
							placeholder="Phone Number">
					</div>
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							id="password" name="password" class="input-text"
							placeholder="Password">
					</div>
					<div class="form-group">
						<label for="confirmpassword">Confirm Password</label> <input
							type="password" id="confirmpassword" name="confirmpassword"
							class="input-text" placeholder="Confirm Password">
					</div>
					<div class="form-group">
						<button type="submit" class="input-btn">Register Now</button>
					</div>
					<div class="or-text">
						<span>Or</span>
					</div>
				</form>
			</div>
			<p class="form-link">
				Already have an account?<a href="/patientLogin"> Login here</a>
			</p>
		</div>
	</div>
</body>

</html>