* {
	font-family: 'Poppins', sans-serif;
}

html, #page {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #959595;
	font-size: 14px;
}

h1,h2, h3, h4, h5, h6 {
	color: black;
}

#page {
	background: #fff;
}

#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar
	{
	margin: 0;
	padding: 0;
}

/* Footerblurb */
#footerblurb {
	background: #fff;
	color: black;
}

#footerblurb-inner {
	margin: 0 auto;
	width: 922px;
	padding: 24px;
}

#footerblurb .column {
	margin: 0;
	text-align: justify;
	float: left;
	width: 250px;
	padding: 0 24px;
}

/* Footer */
#footer {
	background: #fff;
}

#footer-inner {
	margin: auto;
	text-align: center;
	padding: 2px;
	width: 922px;
}

#footer a {
	color: black;
	text-decoration: none;
}

/* Clear both sides to assist with div alignment  */
.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
}