* {
	font-family: 'Poppins', sans-serif;
}

html, #page1 {
	padding: 0;
	margin: 0;
}

#body1 {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #959595;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

#page1 {
	background: #fff;
}

#header1 {
	margin: 0;
	padding: 0;
}

/* Logo */
#logo1 {
	padding: 0;
	width: 100px;
	float: left;
	height: 100px;
}

/* Header */
#header1 {
	background: #fff;
}

#header-inner1 {
	margin: 0 auto;
	padding: 0;
	width: 1450px;
}

/* Feature */
.feature1 {
	background: #3c568f;
	padding: 8px;
}

.feature-inner1 {
	margin: auto;
	width: 970px;
}

.feature-inner1 h1 {
	color: black;
	font-size: 32px;
}

/* Clear both sides to assist with div alignment  */
.clr1 {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
}